{{>nav1}}
<section id="BodyMid">
        <a href="/dilekoneri" id="wish">Dilek & Öneri</a>

        <div class="page-middle">
            <h1 style="font-size: 30px; color: #7dc87d; text-shadow: 2px 2px #609b60;">Admin Menüsü</h1>
            {{>adminmenu}}
        </div>

</section>