{{>nav1}}
<section id="BodyMid">
        <a href="/dilekoneri" id="wish">Dilek & Öneri</a>

        <div class="page-middle">
            <h1 style="font-size: 30px; color: #7dc87d; text-shadow: 2px 2px #609b60;">Admin Menüsü</h1>
            {{>adminmenu}}

            <form class="yazilabilir" method="POST">
                <h1 style="font-size: 25px;">Ürün Ayarları</h1>
                <a href="/products/new" class="generalbuttons" style="float: left;">Ürün Ekle</a>
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>AD</th>
                            <th>Düzenle</th>
                            <th>SIL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                            <tr>
                                <td>{{_id}}</td>
                                <td>{{title}}</td>
                                <td>
                                    <a href="/products/editproduct/{{_id}}" class="btn btn-danger">Düzenle</a>
                                </td>
                                <td>
                                    <form action="products/{{_id}}?_method=DELETE" method="post" >
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="btn btn-danger" type="submit">Sil</button>
                                    </form>
                                    
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </form>
        </div>

</section>