<section style="display: flex;">
                <a href="products" class="generalbuttons">Ürünler</a>
                <a href="categories" class="generalbuttons">Kategoriler</a>
                <a href="#fonksiyonhazirdegil" class="generalbuttons">-</a>
                <a href="#fonksiyonhazirdegil" class="generalbuttons">-</a>
                <a href="#fonksiyonhazirdegil" class="generalbuttons">-</a>
                <a href="#fonksiyonhazirdegil" class="generalbuttons">-</a>
</section>