<div class="kategoriler" style="">
                <h1>Kategoriler</h1>
                    <div>
                        {{#each categories}}
                        <a href="#" class="kategori">{{name}} (2)</a><br>
                        {{/each}}
                    </div>
            </div>