    <section id="Footer">
        <div class="page-middle">
            <section class="footer">
                <div class="box">
                    <h2 class="content-title">
                        <i class="fas fa-info-circle"></i>
                        Hakkımızda
                    </h2>
                    <a href="/Hakkimizda">Hakkımızda</a><br>
                    <a href="/Aricilik">Arıcılık Hakkında</a>
                </div>
                <div class="box">

                    <h2 class="content-title">
                        <i class="fa-solid fa-copyright"></i>
                        2022 Mustafa Göleç</i>
                    </h2>
                    <p>Tüm Hakkı'lar saklıdır.</p>
                    <a href="#" style="color: red;">Sayfa Başına Dön</a>

                </div>
                <div class="box">
                    <h2 class="content-title">
                        <i class="fa-solid fa-address-card"></i>
                        Bize Ulaşın
                    </h2>
                    <a href="/Iletisim">Bize Ulaşın</a><br>
                    <a href="/dilekoneri">Dilek ve Öneriler</a>
                    <p><i class="fab fa-instagram"></i> instagram : <a
                            href="https://www.instagram.com/golec.aricilik/">golec.aricilik</a></p>
                </div>
            </section>
        </div>
    </section>  
