<section class="navbar">
        <a href="/index" class="navbarbuttons">Ana Sayfa</a>
        <a href="/products" class="navbarbuttons">Ürünler</a>
        <a href="/hakkimizda" class="navbarbuttons">Hakkımızda</a>
        <a href="/aricilik"><img id="logo" src="/images/Logo/logoari.png" alt="LOGO BULUNAMADI"></a>
        <a href="/users/login" class="navbarbuttons">Hesabım</a>
        <a href="/sepet" class="navbarbuttons">Sepet</a>
        <a href="/aricilik" class="navbarbuttons" id="aboutbeekeeping">Arıcılık Hakkında</a>
</section>