    <section class="navbar">
        <a href="/index" class="navbarbuttons" id="homepage">Ana Sayfa</a>
        <a href="/products" class="navbarbuttons">Ürünler</a>
        <a href="/hakkimizda" class="navbarbuttons">Hakkımızda</a>
        <a href="/index"><img id="logo" src="/images/Logo/logoari2.png" alt="LOGO BULUNAMADI"></a>
        <a href="/users/login" class="navbarbuttons">Hesabım</a>
        <a href="/sepet" class="navbarbuttons">Sepet</a>
        <a href="/aricilik" class="navbarbuttons" id="aboutbeekeepingx">Arıcılık Hakkında</a>
    </section>