<section class="navresponsive">
        <a href="/index" class="nrbuttons">Ana Sayfa</a>
        <a href="/products" class="nrbuttons">Ürünler</a>
        <a href="/aricilik"><img id="nrlogo" src="/images/Logo/logoari.png" alt="LOGO BULUNAMADI"></a>
        <a href="/hakkimizda" class="nrbuttons">Hakkımızda</a>
        <a href="/aricilik" class="nrbuttons" id="aboutbeekeeping">Arıcılık Hakkında</a>
</section>