/*---SINIFLANDIRILMAMIŞ & GENEL--------------------------*/

p{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(179, 179, 179);
}

input{
    border-radius: 20%;
    background-color: rgb(255, 175, 0);
    color: white;
    border: 3px rgb(202, 116, 3) solid ;                 
}

body {
	background: linear-gradient(-180deg, #ff5100, rgb(255, 233, 174), #ff7300, #ff0000);    /*Gradient (Coklu renk) arkaplan kodlari*/
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100%;
    transition: 2s all;
}

body h1{
    text-shadow: 3.5px 2px rgb(255, 145, 0);
    color: rgb(255, 255, 255);font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold; 
    text-decoration: dashed underline;
}

*{
    box-sizing: border-box;
}

#hrgold{
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(155, 155, 155, 0.247);
    margin: 1em 0; padding: 0;
}

.generalbuttons{
    font-size: 19px;
    width: 200px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    background-color:rgba(255, 205, 97, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 20%;
    border: 2px rgb(255, 255, 255) solid;
    padding: 10px 50px;
    transition: all 0.2s;
    cursor: pointer;
}

.cmdelbutton{
    float: right;
    margin-right: 2.6rem;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    background-color:rgb(255, 42, 0);
    color: rgb(255, 255, 255);
    border-radius: 20%;
    border: 2px rgb(255, 255, 255) solid;
    transition: all 0.2s;
    cursor: pointer;
}

.cmdelbutton:hover{
    width: 2.1rem;
    height: 2.1rem;
}

.generalbuttons:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(255, 166, 0);
    border: 2px rgb(255, 145, 0) solid;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    width: 225px;
    font-size: 19px;
}

#loginbutton:hover{
    height: auto;
}
/*-----------------NAV BAR-----------------------*/

.navbar{
    z-index: 10;
    background: rgba(255, 255, 255, 0.466);
    border: 2px solid #9b9b9b3f;
    border-radius: 15%;
    height: 85px;
    top: 1.6rem;
    position: sticky; 
    display: flex;
    text-align: center;
    margin:auto;
    align-items: center;
    margin-top: 32px;
    box-shadow: 1px 1px;
    
}

.navresponsive{
    display:none;
}

#logo{
    animation: logocolchanger 4s infinite;
    width: 120px;
    height: 120px;
    border-radius: 33%;
    background-color: rgba(255, 255, 255,0.5);
    box-shadow: 0 0 0 1px #fff, 0 0 0 5px rgb(255, 255, 255);
    transition: 0.3s all;
    
}

#logo:hover{
    background-color: rgba(255, 255, 255, 0.712);
    box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 5px rgb(255, 174, 0);
    width:150px;
    height:150px;
    animation: float 2s ease-in-out infinite;
}

.navbarbuttons{
    font-size: 19px;
    width: 200px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    background-color:#ffcd61cc;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px rgb(255, 255, 255) solid;
    padding: 10px 50px;
    transition: all 0.2s;
}

.navbarbuttons:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(255, 166, 0);
    border: 2px rgb(255, 145, 0) solid;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    width: 225px;
    height: 45px;
    font-size: 19px;

}

#aboutbeekeeping{
    padding-top:12px ;
    font-size: 15px;
    height: 47px;
    width: 220px;
}

#aboutbeekeeping:hover{
    font-size: 19px;
    background-color:rgb(38, 114, 255);
    color: rgb(255, 255, 255);
    border: 2px rgb(0, 108, 196) solid;
    width:250px;
}

/*------------------------------------------------------------------------------BODY------------------------------------------------------------*/

.page-middle{
    background: rgba(255, 255, 255, 0.452);
    border: 2px solid rgba(155, 155, 155, 0.247);
    border-radius: 5px;
    height: auto;
    width: 95%;
    text-align: center;
    margin:auto;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 0.1px 0.1px;
}

/*-------------------------------------------SLIDER------------------------------*/

.slidergallery{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 40%;
    background: #4c4c4c;
    border: solid 10px #ffa551 ;
    border-radius: 5px;
}

.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide_img img{
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3{
    display: none;
}

.pre, .nxt{
    width: 7%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 145, 0, 0.28);
    z-index: 99;
}

.pre{
    left: 0;
}
.nxt{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: pointer;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin-top: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,.6);
}

.slide_img{
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3{
    background-color: #ff7300;
}

.nav #dot1:hover,#dot2:hover,#dot3:hover{
    background-color: rgb(255, 188, 64);
    transition: 0.2s all;
    cursor: pointer;
}

.slidergallery p {
    cursor: pointer;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 25%;
    color:red;
    font-size: 60px;
    font-weight: bold;
    animation: slidercolchanger 5s infinite;
    margin-top:220px;
    transition: 0.3s all;
}

.slidergallery p:hover{
    border: 4px solid rgba(255, 160, 82, 0.527);
    background-color: rgba(255, 176, 73, 0.336);
    border-radius: 100%;
    margin-top:210px;
    color:white;
    font-size: 70px;
    transition: 0.3s all;
}

/*-----------------DILEK VE ONERILER--------------------------------------------------------------------------------------------------------------*/
#wish{
    animation: wishcolchanger 10s infinite;
    padding:5px 0px 0px 0px;
    text-align: center;
    margin:0px;
    width: 160px;
    height:40px;
    background:#ffffff;
    color: rgb(255, 115, 0);
    text-decoration-thickness: 1px;
    border:#ff5100 solid 1px;
    z-index:15;
    border-radius: 5px 5px 0px 0px;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform-origin: bottom right;
    position: fixed;
    right: 0px;
    margin-top: 0px;
    transition: 0.5s;
}

#wish:hover{
    padding-top: 5px;
    margin-top: -5px;
    width: 165px;
    height:45px;
}

#wish p{
    display:inline-block;
    line-height:40px;
}

/*--------------------------------------ADMIN-----------------------------------------------------*/

#adminsayfa{
    animation: admincolchanger 4s infinite;
    padding:5px 0px 0px 0px;
    text-align: center;
    margin:0px;
    width: 160px;
    height:40px;
    background:#ffffff;
    color: rgb(255, 115, 0);
    text-decoration-thickness: 1px;
    border:#ff5100 solid 1px;
    z-index:15;
    border-radius: 5px 5px 0px 0px;
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform-origin: bottom left;
    position: fixed;
    left: 0px;
    margin-top: 5rem;
    transition: 0.5s;
}

#adminsayfa:hover{
    padding-top: 5px;
    margin-top: 4.7rem;
    width: 165px;
    height:45px;
}

#adminsayfa p{
    display:inline-block;
    line-height:40px;
}


/*-------------------------------------URUNLERMAIN-----------------------------------------------*/

.product-pictures{
    width: 300px;
    height: 400px;
    display: inline-block;
    background-color:rgba(253, 135, 0, 0.616);
    margin: auto;
    margin-left: 20px;
    border: 1px solid #ff864e ;
    border-radius: 20px;
}
.product-pictures img{
    border: 1px solid #ffb77d ;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}
.product-pictures img:hover{
    opacity: 80%;
    border-radius: 28px;
}
.product-pictures a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.product-pictures h1{
    text-shadow: 1px 2px rgb(226, 167, 6);
    color: rgb(255, 255, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold; 
    text-decoration: dashed underline;
    transition: 0.3s;
}

.product-pictures a h1:hover{
    color: #ffd780;
}

/*------HAKKIMIZDA-----*/

.about-us{
    display: flex;
    margin: 50px 40px 50px 40px;
}
.about-us a, #aboutfoto1{
    width: 600px;
    height: 360px;
    float: left;
    margin-left: 1rem;
}

#aboutfoto1{
    border: 8px solid rgb(255, 166, 0) ;
    border-radius: 20px;
}

.aboutinfo{
    margin: 0px 20px 0px 20px;
    padding: 0px 20px 0px 20px;
    float: left;
    color: wheat;
    font-style: italic;
    text-align: left;
    line-height: 1.6;
    text-indent: 35px;
    background: rgba(255, 196, 151, 0.61);
    border: 5px solid rgb(255, 166, 0) ;
    border-radius: 20px;
}

.aboutinfo p{
    font-style: italic;
    text-align: left;
    line-height: 1.6;
    text-indent: 35px;
}

/*-------------------------COMMENTS-------------------------------------------------------------------------------------------------------------------------*/

.Comments{
    height: auto;
}
.commentcustomer{
    margin: auto;
    width: 95%;
    display: flex;
    background: rgba(255, 196, 151, 0.61);
    border: 5px solid rgb(255, 166, 0) ;
    border-radius: 20px;
}

#userprofile img{
    margin: 10px 25px 10px 25px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 40%;
    float: left;
    width: 120px;
    height: 120px;
}

.leavecomment{
    margin:30px 0 30px 0;
}

.yazilabilir{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5px 15px 5px;
    background-color: red;
    width: 80%;
    height: 80%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background: rgba(255, 220, 192, 0.452);
    border: 5px solid rgb(255, 166, 0) ;
    border-radius: 20px;
}

.yazilabilir p{
    font-size: 21px;
    color: white;
    text-shadow: 1px 1px #ff864e;
}

/*-------------------------FOOTER-------------------------------------------------------------------------------------------------------------------------*/

.footer{
    column-rule: solid 2px rgba(155, 155, 155, 0.247);;
    columns: 3;
}
.box{
    padding:5rem;
}
.footer a{
    text-decoration-thickness: 1px;
    color: rgb(0, 0, 0);
}
