<head>
    <link rel="stylesheet" href="/css/beekeep.css">  <!--Arıcılık Hakkında kısmına ait olduğu için yalnızca bu sayfaya özel-->
</head>

{{>nav2}}   <!--navigasyon bu sitede farklı olduğu için ayrı dosyalara parçalandı (logo değişiyor)-->
{{>navresponsive}}

<section id="BodyMid">
        <a href="/dilekoneri" id="wish">Dilek & Öneri</a>
        
        <div class="page-middle">
            <h1>Çok yakında buradayız!</h1>
            
        <img src="images/About/beekeeping.png" alt="" id="beebg" style="z-index: 2;">

        <div class="aboutbeebox">
            <img src="images/About/about1.gif" alt="Fotoğraf bulunamadı" class="aboutbeephoto">
            <div class="aboutbeeinfo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam fugit sed dolor? Excepturi mollitia provident quos aperiam laboriosam necessitatibus quibusdam, tenetur eligendi labore, qui tempora facilis cupiditate atque! Veritatis, sed amet ipsa libero consectetur accusamus aspernatur, est voluptatum, possimus sit nisi. Vitae hic facilis dolor corrupti? Possimus, distinctio! Ratione doloribus corrupti fugit laudantium sunt quas quis. Cumque totam hic et aperiam ullam voluptatem nobis optio reprehenderit illo earum vero libero, animi officia ipsum inventore cum sapiente accusantium fugit distinctio autem corrupti mollitia dignissimos aspernatur officiis. Corporis optio quod possimus maiores suscipit, officia sed? Explicabo minus temporibus ipsum officiis minima dolorum quia veritatis voluptas deserunt placeat, magnam esse exercitationem nostrum sint blanditiis reprehenderit eos quis dicta, vero repellendus qui sapiente! Modi quam accusantium aut consequatur beatae incidunt fuga saepe magni laudantium est quas necessitatibus odio illum minus voluptatibus blanditiis, nobis numquam labore, quo, expedita quidem officiis minima totam? Ab, natus animi.</p>
            </div>
        </div>
        <div class="aboutbeebox">
            <div class="aboutbeeinfo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam fugit sed dolor? Excepturi mollitia provident quos aperiam laboriosam necessitatibus quibusdam, tenetur eligendi labore, qui tempora facilis cupiditate atque! Veritatis, sed amet ipsa libero consectetur accusamus aspernatur, est voluptatum, possimus sit nisi. Vitae hic facilis dolor corrupti? Possimus, distinctio! Ratione doloribus corrupti fugit laudantium sunt quas quis. Cumque totam hic et aperiam ullam voluptatem nobis optio reprehenderit illo earum vero libero, animi officia ipsum inventore cum sapiente accusantium fugit distinctio autem corrupti mollitia dignissimos aspernatur officiis. Corporis optio quod possimus maiores suscipit, officia sed? Explicabo minus temporibus ipsum officiis minima dolorum quia veritatis voluptas deserunt placeat, magnam esse exercitationem nostrum sint blanditiis reprehenderit eos quis dicta, vero repellendus qui sapiente! Modi quam accusantium aut consequatur beatae incidunt fuga saepe magni laudantium est quas necessitatibus odio illum minus voluptatibus blanditiis, nobis numquam labore, quo, expedita quidem officiis minima totam? Ab, natus animi.</p>
            </div>
            <img src="images/About/about2.gif" alt="Fotoğraf bulunamadı" class="aboutbeephoto">
        </div>

        
        
        
        </div>

</section>