{{>nav1}}
{{>navresponsive}}
<section id="BodyMid">
        <a href="/dilekoneri" id="wish">Dilek & Öneri</a>

        <div class="page-middle">
            <h1>Dilek ve Öneriler</h1>
            <form  style="margin-bottom: 30px;">
                <p>E-Posta adresimize mail atmak için tıklayın</p>
                <p>
                    <input type="checkbox">Zırt yasasının 12. maddesininde belirtilen sözleşmeyi onaylıyorum.
                </p>
                <a class="generalbuttons" href="mailto:feedbacktherobber@gmail.com">Gönder</a>
            </form>
        </div>

</section>