{{>nav1}}
{{>navresponsive}}
<section id="BodyMid">
        <a href="/dilekoneri" id="wish">Dilek & Öneri</a>

        <div class="page-middle">
            <div class="hakkimizda">
                <h1>Hakkımızda</h1>
                <div class="about-us">
                    <div class="aboutfoto">
                        <a href="Hakkimizda"><img src="images/About/aboutus.png" alt="Fotograf Bulunamadı" id="aboutfoto1"></a>
                    </div>
                    <div class="aboutinfo">
                        <h1 style="font-size: 20px;text-decoration: none;text-shadow: 1px 1px black">Göleç Arıcılık</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quo voluptates
                            repellendus ad inventore aut facilis non, dolorem itaque voluptas, vero distinctio
                            temporibus ab voluptatem fugiat eaque reiciendis, nisi amet dolores vitae ipsum adipisci
                            consequatur repudiandae! Rerum dicta voluptate reiciendis eos dolorem provident praesentium
                            ducimus, voluptas odio dignissimos neque laudantium voluptatem error quaerat esse nisi rem
                            explicabo tempore et. Autem nobis obcaecati magni odio debitis consequuntur impedit atque.
                            Blanditiis enim fuga rerum magni laboriosam dolor modi natus facere unde! Quod velit ipsa et
                            sit odit dignissimos fugit consequatur, tempore numquam facere, quia obcaecati quam
                            perspiciatis corporis maxime nobis suscipit delectus...</p>
                    </div>
                </div>
                

            </div>
            <br>
        </div>

    </section>