{{>nav1}}
{{>navresponsive}}
<section id="BodyMid">
        <a href="/dilekoneri" id="wish">Dilek & Öneri</a>

        <div class="page-middle">
            <h1>İletişim Adreslerimiz</h1>
            <p>Ercan Göleç : 0505050505</p>
            <p><i class="fab fa-instagram"></i> instagram : <a href="https://www.instagram.com/golec.aricilik/">golec.aricilik</a></p>

        </div>

</section>