{{>nav1}}
{{>navresponsive}}
<section id="BodyMid">
        <a href="/dilekoneri" id="wish">Dilek & Öneri</a>

        <div class="page-middle">
            <h1>Şifrenizi Sıfırlayın</h1>
            <form >
                <p>
                    E-Posta : <input type="email" placeholder="yazdostum@hotmail.com" required="required">
                </p>
                <button type="submit" class="generalbuttons">Şifremi Sıfırla</button>  
                <h1>Tadilattayız...</h1>
            <img src="images/Misc/WIP.gif" alt=""><br>
            </form>
        </div>

    </section>