{{>nav1}}
{{>navresponsive}}
<section id="BodyMid">
    <a href="/dilekoneri" id="wish">Dilek & Öneri</a>

    <div class="page-middle">
        <div class="about-us">
            <div class="aboutinfo" style="width: 70%;">
                <h1 style="font-size: 20px;text-decoration: none;text-shadow: 1px 1px black">Sepet</h1>
                <h1>Yakında...</h1>
                <img src="images/Misc/WIP.gif" alt=""><br>
            </div>
            <div class="aboutinfo" style="width: 30%;">
                <p>Tutar : ?? ₺</p>
                <button class="generalbuttons">Sipariş Et</button>
            </div>
        </div>
    </div>

</section>